:root {
    --primary-color: #006241;
    --secondary-color: #d50032;
    --extra-color: #d4e9e2;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.4;
}

a {
    color: var(--black);
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

/*Navbar*/

.navbar {
    width: 100%;
    height: auto;
    background-color: var(--white);
    font-size: 1.6rem;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
    font-weight: bold;
}

.navbar a {
    color: var(--black);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav-left {
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
}

.navbar-nav-right img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*Buttons*/
.btn {
    cursor: pointer;
}